<div ng-controller="HomeCtrl">
    <div class="center"><h5>Upload a file</h5></div>
    <div class="row">
        <div class="col m6 offset-m3 s12">
            <form class=action="#">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" read-file="readFile($fileContent)"/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="center"><h5>OR</h5></div>
    <br/>
    <div class="row">
        <div class="col m6 s12">
            <h5>Room Dimensions</h5>
            <div class="row">
                <div class="input-field col s6">
                    <input id="room_height" ng-model="machineService.roomDimensions.y" type="number" min="0" class="validate">
                    <label for="room_height">Height</label>
                </div>
                <div class="input-field col s6">
                    <input id="room_width" ng-model="machineService.roomDimensions.x" type="number" min="0" class="validate">
                    <label for="room_width">Width</label>
                </div>
            </div>
        </div>
        <div class="col m6 s12">
            <h5>Roomba Starting Coordinates</h5>
            <div class="row">
                <div class="input-field col s6">
                    <input id="roomba_start_x" ng-model="machineService.initPosition.x" type="number" min="0" class="validate">
                    <label for="roomba_start_x">X-Coordinate</label>
                </div>
                <div class="input-field col s6">
                    <input id="roomba_start_y" ng-model="machineService.initPosition.y" type="number" min="0" class="validate">
                    <label for="roomba_start_y">Y-Coordinate</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <h5>Dirt Coordinates</h5>
            <button class="btn" ng-click="addDirtLocation()">Add Dirt</button>
            <table>
                <thead>
                <tr>
                    <th>X-Coordinate</th>
                    <th>Y-Coordinate</th>
                    <th class="center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dirtLocation in machineService.dirtLocations track by $index">
                    <td>
                        <input ng-model="dirtLocation.x" type="number" min="0" class="validate">
                    </td>
                    <td>
                        <input ng-model="dirtLocation.y" type="number" min="0" class="validate">
                    </td>
                    <td class="center">
                        <a ng-click="deleteDirtLocation($index)" class="btn-floating btn-medium waves-effect waves-light red">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col m6 s12">
            <h5>Roomba Driving Instructions</h5>
            <button class="btn" ng-click="addDrivingInstruction()">Add Direction</button>
            <table>
                <tbody>
                    <tr ng-repeat="instruction in machineService.drivingInstructions track by $index">
                        <td>
                            <select ng-model="machineService.drivingInstructions[$index]" material-select watch>
                                <option value="">Please select a direction</option>
                                <option value="N">N</option>
                                <option value="S">S</option>
                                <option value="W">W</option>
                                <option value="E">E</option>
                            </select>
                        </td>
                        <td class="center">
                            <a ng-click="deleteDrivingInstruction($index)" class="btn-floating btn-medium waves-effect waves-light red">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col m12 s12 center">
            <button ng-click="goRoombaGo()" class="btn waves-effect waves-light btn-large">Go Roomba Go!</button>
        </div>
    </div>
</div>